# Virtual environment
venv/
__pycache__/
*.pyc

# Data (too large for Git)
data/raw/
data/processed/
*.parquet
*.csv

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Notebooks
.ipynb_checkpoints/